<div class="row">
    <div class="col-md-8">
        <enhanced-canvas id='tsp-canvas' [width]='width' [height]='height'></enhanced-canvas>
    </div>
    <div class="col-md-4">
        <input type='submit' class='btn btn-success btn-sm' (click)="start()" [disabled]='isRunning' value='Run'>
        <input type='submit' class='btn btn-danger btn-sm' (click)="forceStop()" [disabled]='!isRunning' value='Stop'>

        <div class="form-group row">
            <label class="col-sm-7 col-form-label">Current Generation</label>
            <div class="col-sm-5">
                <span>{{cycle}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-7 col-form-label">Best value at Gen</label>
            <div class="col-sm-5">
                <span>{{bestGeneration}}</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-7 col-form-label" for="numberOfCities">Number of Cities</label>
            <div class="col-sm-5">
                <input class='form-control w-80' type="number" name="numberOfCities" id="numberOfCities"
                    [(ngModel)]='numberOfCities' [disabled]="isRunning">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-7 col-form-label" for="populationSize">Population Size</label>
            <div class="col-sm-5">
                <input class='form-control w-80' type="number" name="populationSize" id="populationSize"
                    [(ngModel)]='populationSize' [disabled]="isRunning">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-7 col-form-label" for="mutationRate">Mutation Rate </label>
            <div class="col-sm-5">
                <input class='form-control w-80' step='0.01' min='0' max='1' type="number" name="mutationRate"
                    id="mutationRate" [(ngModel)]='mutationRate' [disabled]="isRunning">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-7 col-form-label" for="stopAfter">Stop after </label>
            <div class="col-sm-5">
                <input class='form-control w-80' type="number" name="stopAfter" id="stopAfter" [(ngModel)]='stopAfter'
                    [disabled]="isRunning">
            </div>
        </div>
        <div *ngIf='isRunning'>
            <h1 class="attractive-h1">Running...</h1>
        </div>
    </div>

</div>
